html {
  color: #000;
  /* background: #fff; */
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

strong {
  text-shadow: 0 0 5px #07de44, 0 0 10px #fff, 0 0 15px #fff;
  color: #000;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
  font-family: "Times New Roman", serif, -apple-system;
  color: #000000;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Times New Roman", serif, sans-serif;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: inherit;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-left: 1.75rem;
  margin-bottom: 1rem;
}

a {
  color: #f50ff5;
  cursor: url("../static/star.svg"), auto;
}

.forCursor {
  cursor: url("../static/star.svg"), auto;
}

a:hover,
a:focus {
  color: #07de44;
  text-decoration: underline;
}

hr {
  position: relative;
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

blockquote {
  padding: 0.5em 1em;
  margin: 0.8em 0;
  color: #555;
  border-left: 0.25em solid #ccc;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre code {
  font-size: 18px;
}

code {
  color: #fff;
}

.wrap {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

article img {
  max-width: 100%;
  height: auto;
}

.test {
  background: linear-gradient(155deg, #ffcd00, #4ea53f);
  background-size: 400% 400%;

  -webkit-animation: backAnimate 21s ease infinite;
  -moz-animation: backAnimate 21s ease infinite;
  animation: backAnimate 21s ease infinite;
}
@-webkit-keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}
@-moz-keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}
@keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}

.categoryShow {
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%, 0);
  position: fixed;
  transform: translate(0%);
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 100px #ffffff;
  -moz-box-shadow: 10px 10px 100px #ffffff;
  -khtml-box-shadow: 10px 10px 100px #ffffff;
  box-shadow: 10px 10px 100px #ffffff;
  padding: 40px;
  border-radius: 8px;
}
.categoryHide {
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%, 0);
  position: fixed;
  transform: translate(100%);
  transition: 0.5s;
}

.modalShow {
  top: 50%;
  width: 100%;
  left: 0px;
  position: fixed;
  -webkit-transition-property: width height left top;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-property: width height left top;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.modalHide {
  top: 50%;
  width: 100%;
  left: 150px;
  /* top: 25px; */
  position: fixed;
  -webkit-transition-property: width height left top;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-property: width height left top;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#nameText {
  text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px #01cccc,
    -30px 30px 0px #00bdbd, 2px 32px 0px rgba(206, 89, 55, 0);
  color: #ffffff;
  /* background: #ffcd00; */
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.customBorder {
  border: 3px solid;
}

.emphasis {
  text-shadow: 0 0 5px #f50ff5, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 100px #49ff18;
  color: #ffffff;
}

.neumorphism {
  border-radius: 16px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 41px 41px 82px #b8b8b8, -41px -41px 82px #ffffff;
}
