html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
  font-family: Montserrat, -apple-system;
  color: #333;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: inherit;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #e2a42e;
  cursor: url("../static/star.svg"), auto;
}

.forCursor {
  cursor: url("../static/star.svg"), auto;
}

a:hover,
a:focus {
  color: #e22e96;
  text-decoration: underline;
}

hr {
  position: relative;
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

blockquote {
  padding: 0.5em 1em;
  margin: 0.8em 0;
  color: #555;
  border-left: 0.25em solid #ccc;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre code {
  font-size: 18px;
}

code {
  color: #fff;
}

.wrap {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

article img {
  max-width: 100%;
  height: auto;
}

.test {
  background: linear-gradient(155deg, #ffcd00, #4ea53f);
  background-size: 400% 400%;

  -webkit-animation: backAnimate 21s ease infinite;
  -moz-animation: backAnimate 21s ease infinite;
  animation: backAnimate 21s ease infinite;
}
@-webkit-keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}
@-moz-keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}
@keyframes backAnimate {
  0% {
    background-position: 17% 0%;
  }
  50% {
    background-position: 84% 100%;
  }
  100% {
    background-position: 17% 0%;
  }
}

.categoryShow {
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%, 0);
  position: fixed;
  transform: translate(0%);
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 100px #ffffff;
  -moz-box-shadow: 10px 10px 100px #ffffff;
  -khtml-box-shadow: 10px 10px 100px #ffffff;
  box-shadow: 10px 10px 100px #ffffff;
  padding: 40px;
  border-radius: 8px;
}
.categoryHide {
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%, 0);
  position: fixed;
  transform: translate(100%);
  transition: 0.5s;
}

.modalShow {
  top: 50%;
  width: 100%;
  left: 0px;
  position: fixed;
  -webkit-transition-property: width height left top;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-property: width height left top;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.modalHide {
  top: 50%;
  width: 100%;
  left: 150px;
  /* top: 25px; */
  position: fixed;
  -webkit-transition-property: width height left top;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-property: width height left top;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#nameText {
  text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px #01cccc,
    -30px 30px 0px #00bdbd, 2px 32px 0px rgba(206, 89, 55, 0);
  color: #ffffff;
  /* background: #ffcd00; */
}
